name: CI/CD Pipeline

on:
  push:
    branches: [main, master]

jobs:
  forge-deploy:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: Install Forge CLI
        run: npm install -g @forge/cli@latest
          
      # Step 0: Forge settings 
      - name: Forge Settings
        run: forge settings set usage-analytics false
        env:
          FORGE_CLI_NONINTERACTIVE: 1

      # Step 1: Build the react front
      - name: Build REACT Front
        run: currentDir=`pwd` && cd static/kpi-gadget && npm install --legacy-peer-deps && npm run-script build && cd $currentDir
        env:
          FORGE_CLI_NONINTERACTIVE: 1
      
      # Step 2: Forge deploy to the chosen environment
      - name: Forge Deploy
        run: forge deploy --environment ${{ vars.ENV_NAME }}
        env:
          FORGE_CLI_NONINTERACTIVE: 1
          FORGE_EMAIL: "${{ secrets.JIRA_USER }}"
          FORGE_API_TOKEN: "${{ secrets.JIRA_TOKEN }}"
      
      # Step 3: Forge install with --upgrade argument
      - name: Forge Install
        run: forge install --upgrade --environment ${{ vars.ENV_NAME }} --site ${{ vars.JIRA_SITE_NAME }} --product Jira --non-interactive
        env:
          FORGE_CLI_NONINTERACTIVE: 1
          FORGE_EMAIL: "${{ secrets.JIRA_USER }}"
          FORGE_API_TOKEN: "${{ secrets.JIRA_TOKEN }}"
